*{
    margin: 0;
    padding: 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: green;
    font-size: 17px;
}
body {
    background-image: url("./background-image.avif");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}
form {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    color: white;
    flex-direction: column;
    height: 50vh;
    width: 25vw;
    border-radius: 15px;
}
input {
    height: 5vh;
    width: 70%;
    text-align: center;
    margin: 20px;
}
#submit {
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: rgb(66, 183, 66);
}